<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/mainMenu.css"/>
    </head>
    <body>
        <div class="box">
            <div class="nav-box">
                <ul>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">Archivo</a>
                        <div class="dropdown-content">
                          <a href="#">Recursos humanos</a>
                          <a href="#">Parametros generales</a>
                          <a href="#">Preferencias</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">Consulta</a>
                        <div class="dropdown-content">
                          <a href="#">Clientes</a>
                          <a href="#">Proveedores</a>
                          <a href="#">Registros</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">Reportes</a>
                        <div class="dropdown-content">
                          <a href="#">Compras</a>
                          <a href="#">Ventas</a>
                          <a href="#">Creditos</a>
                          <a href="#">Remesas</a>
                          <a href="#">Depositos</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">Herramientas</a>
                        <div class="dropdown-content">
                          <a href="#">Configuracion</a>
                          <a href="#">Apariencia</a>
                          <a href="#">Usuarios</a>
                        </div>
                    </li>
                    <li style="float:right"><a id="exitBtn" href="#about">Salir</a></li>
                </ul>
            </div>
            <div class="place-box">
                <h2>Nombre de Establecimiento</h2>
                <span>Un lugar agradable</span>
            </div>
            <div class="menu-box">
                <div class="grid-container">
                    <div class="grid-item" tabindex="0">
                        <img src="../img/menu.png">
                        <p>Menú</p>
                    </div>
                    <div class="grid-item" tabindex="0">
                        <img src="../img/dishes.png">
                        <p>Platillos</p>
                    </div>
                    <div class="grid-item" tabindex="0">
                        <img src="../img/order.png">
                        <p>Órdenes</p>
                    </div>  
                    <div class="grid-item" tabindex="0">
                        <img src="../img/delivery.png">
                        <p>Pedidos domicilio</p>
                    </div>
                    <div class="grid-item" tabindex="0">
                        <img src="../img/table.png">
                        <p>Mesas</p>
                    </div>
                    <div class="grid-item" tabindex="0">
                        <img src="../img/seller.png">
                        <p>Proveedores</p>
                    </div>  
                    <div class="grid-item" tabindex="0">
                        <img src="../img/client.png">
                        <p>Clientes</p>
                    </div>
                    <div class="grid-item" tabindex="0">
                        <img src="../img/config.png">
                        <p>Ajustes</p>
                    </div>
                </div>
            </div>
            <div class="info-box">
                <span>Desarrollado por: Gustavo Sánchez</span>
                <p>Todos los derechos reservados SigPro® 2018</p>
            </div>
        </div>
        <script>
            require('../js/mainMenu.js')
        </script>
    </body>
</html>