<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/userMenu.css"/>
    </head>
    <body>
        <div class="box">
            <form>
              <label>Ingresa usuario nuevo: </label><input id="userNameInput"> 
              <label>Ingresa contraseña nueva: </label><input id="passWordInput"> 
            </form>
            <button id="saveBtn">Guardar</button>
            <button id="closeBtn">Cerrar</button>
        </div>
        <script>
            require('../js/userMenu.js')
        </script>
    </body>
</html>